/node_modules
/public/.htaccess
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/public/css
/frontend/v8-compile-cache-*
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/v8-compile-cache-*
